body{
    width: 600px;
}

h1{
    height: 100px;
    width: 300px;
    background-color: green;
    color: white;
    text-align: center;
}

p{
    font-family: "Arial";
    font-size: 18px;
    color: darkblue;
    text-align: justify;
}